//base styles
* {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    @extend %padding-margin-reset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %padding-margin-reset;
    font-weight: 400;
}

ul,
ol {
    @extend %padding-margin-reset;
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    @extend %padding-margin-reset;
}

input,
button {
    @extend %border-outline-none;
    @extend %padding-margin-reset;
}