.dd {
	&-select {
		background: #fff !important;
	}
	&-selected {
	    padding: 7px !important;
	    &-text {
	        font-family: "AvenirNext-Regular", serif !important;
	        font-size: $font-size-14px !important;
	        font-weight: 400 !important;
	        color: $color-text !important;
	        vertical-align: middle !important;
	        line-height: 0 !important;
	    }
	    &-image {
	    	float: none !important;
	    	max-width: 20px !important;
	    }
	}
	&-option {
		&-image {
			float: none !important;
    		max-width: 20px !important;
		}
		&-text {
			font-family: "AvenirNext-Regular", serif !important;
	        font-size: $font-size-14px !important;
	        font-weight: 400 !important;
	        color: $color-text !important;
			vertical-align: middle !important;
			line-height: 0 !important;
		}
		&-selected {

		}
	}
}