@font-face {
    font-family: 'Avenir-Book';
    font-weight: 400;
    src: url('../../assets/fonts/Avenir-Book.woff2') format('woff2');
}

@font-face {
    font-family: 'Avenir-Medium';
    font-weight: 500;
    src: url('../../assets/fonts/Avenir-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Avenir-Heavy';
    font-weight: 900;
    src: url('../../assets/fonts/Avenir-Heavy.woff2') format('woff2');
}

@font-face {
    font-family: 'Avenir-Roman';
    font-weight: 400;
    src: url('../../assets/fonts/Avenir-Roman.woff2') format('woff2');
}